@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
    --foreground: #ededed;
  --lightred: #65aaa6;
  --darkred: #785DFB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #14161a;
    --foreground: #ededed;
    --lightred: #b81e2a;
    --darkred: #6b1218;
  }
}  */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #09090b;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --str-video__primary-color: #005fff;
    --str-video__background-color: #ffffff;
    --str-video__text-color: #000000;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: #434343;
    --sidebar-ring: 217.2 91.2% 59.8%;
    

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --str-video__primary-color: #0099ff;
    --str-video__background-color: #1a1a1a;
    --str-video__text-color: #ffffff;
    --str-video__secondary-background-color: #2d2d2d;
  }
  
}
.rich-text{
  /* .editor{
    height: auto;
    
  } */
   
  .ProseMirror{
    height: 8rem;
    overflow: auto;
    background-color: #32353b;


    
  }
}

.calendar {
  position: relative;
  width: 200px;
  background: #fff;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

#monthName {
  position: relative;
  padding: 5px 10px;
  background: #ff6331;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

#dayName {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  color: #999;
}

#dayNumber {
  margin-top: 0px;
  line-height: 1em;
  font-size: 80px;
  font-weight: 700;
  color: #333;
}

#year {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #999;
}


.ql-toolbar.ql-snow {
  border: none !important;
  background-color: #0000004d !important; 
  border-top-left-radius: 8px  !important;
  border-top-right-radius: 8px  !important;
}

.ql-editor.ql-blank::placeholder{
  color: #524f4f !important;
}

.ql-picker {
  color: #fff !important;
}

.ql-snow .ql-stroke {
  stroke: #fff !important;
}

.ql-snow .ql-picker-options{
  background-color: #1b1d22 !important;
}

.str-video__call-controls__button {
  background: var(--str-video__secondary-background-color) !important;
  color: var(--str-video__text-color) !important;
}

.str-video__call-stats {
  background: var(--str-video__secondary-background-color) !important;
  color: var(--str-video__text-color) !important;
}

.description ol {
  counter-reset: ordered-list; 
  padding-left: 1.5rem; 
}

.description li[data-list="ordered"] {
  counter-increment: ordered-list;
  position: relative;
  list-style: none; 
}

.description li[data-list="ordered"]::before {
  content: counter(ordered-list) ". ";
  position: absolute;
  left: -1.5rem;
  width: 0.5rem;
  text-align: right;
}

.description li[data-list="bullet"] {
  position: relative;
  list-style: none;
}

.description li[data-list="bullet"]::before {
  content: "•"; 
  position: absolute;
  left: -1.5rem;
}

.description .ql-ui {
  display: inline-block;
  margin-right: 2px;
}

.description h1 {
  font-size: 2rem;
  font-weight: 700;

}

.description h2 {
  font-size: 1.5rem;
  font-weight: 700;

}

.description h3 {
  font-size: 1.25rem;
  font-weight: 700;

}

.description h4 {
  font-size: 1rem;
  font-weight: 700;

}

.description h5 {
  font-size: 0.875rem;
  font-weight: 700;

}

.description h6 {
  font-size: 0.75rem;
  font-weight: 700;

}

.description p {
  font-size: 1rem;

}

.description span {
  font-size: 1rem;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}