@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14161a;
  --foreground: #ffffff;
  --lightred: #b81e2a;
  --darkred: #6b1218;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #14161a;
    --foreground: #ededed;
    --lightred: #b81e2a;
    --darkred: #6b1218;
  }
}  */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
