@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14161a;
    --foreground: #ededed;
  --lightred: #65aaa6;
  --darkred: #785DFB;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #14161a;
    --foreground: #ededed;
    --lightred: #b81e2a;
    --darkred: #6b1218;
  }
}  */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
